@model IEnumerable<KindergartentManagerment.Models.TM_TEACHSCHEDULE>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MorningLesson)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MorningTeacher)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AfternoonLesson)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AfternoonTeacher)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Record_Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Maker_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Create_DT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Auth_Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Checker_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Approve_DT)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MorningLesson)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MorningTeacher)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AfternoonLesson)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AfternoonTeacher)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Record_Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Maker_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Create_DT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Auth_Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Checker_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Approve_DT)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
