@model IEnumerable<KindergartentManagerment.Models.AspNetUser>

@{
    ViewBag.Title = "RoleUser";
    Layout = "~/Views/Admin/Common/Layout.cshtml";

    KindergartentManagerment.Models.KindergartentManagermentdb  db = new KindergartentManagerment.Models.KindergartentManagermentdb();
    var s = UserManager.GetRoles(user.GetUserId());

}

<h2>RoleUser</h2>

<section class="content">
          <div class="row">
            <div class="col-xs-12">
              <div class="box">
                <div class="box-header">
                  <h3 class="box-title">Edit User Role</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Email)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UserName)
                            </th>
                            <th>
                                @Html.DisplayName("Role")
                            </th>
                            <th></th>
                        </tr>

                    @foreach (var item in Model) {
                        
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserName)
                            </td>
                            <td>
                                @Html.DropDownList("UserRoles", (SelectList)ViewBag.Name, "")
                            </td>
                        </tr>
                    }

                    </table>
                    </div>
                  </div>
                </div>
              </div>
    </section>
