@using KindergartentManagerment.Resources
@using KindergartentManagerment.Models
@using System.Data.Entity
@using System.Security.Claims
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/csscore")
    @Styles.Render("~/bundles/cssother")
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    @RenderSection("Orther_styles", false)

</head>
<body class="hold-transition skin-blue sidebar-mini">
    @{
        Response.CacheControl = "no-cache";
        if (!Request.IsAuthenticated)
        {
            var returnUrl = "~/Account/Login";
            Response.Redirect(returnUrl);
        }
        else
        {
            var userManager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new ApplicationDbContext()));
            var user = userManager.FindById(User.Identity.GetUserId());
            var role = "";

            <div class="wrapper">

                <header class="main-header">
                    <!-- Logo -->
                    <a href="/Home/Index" class="logo">
                        <!-- mini logo for sidebar mini 50x50 pixels -->
                        <span class="logo-mini"><b>A</b>LT</span>
                        <!-- logo for regular state and mobile devices -->
                        <span class="logo-lg"><b>@AssCommonResource.KindergartenManagerment</b></span>
                    </a>
                    <!-- Header Navbar: style can be found in header.less -->
                    <nav class="navbar navbar-static-top" role="navigation">
                        <!-- Sidebar toggle button-->
                        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                            <span class="sr-only">Toggle navigation</span>
                        </a>
                        <div class="navbar-custom-menu">
                            <ul class="nav navbar-nav">

                                <!-- Role Manager-->
                                @if (User.IsInRole("Admin"))
                                {
                                    <!-- Messages: style can be found in dropdown.less-->
                                    <li class="dropdown messages-menu">
                                        <a href="" class="dropdown-toggle" data-toggle="dropdown">
                                            <i class="fa fa-plus-square fa-2x"></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <!-- User image -->
                                            <li> @Html.ActionLink(AssCommonResource.RoleIndex, "RoleIndex", "Role", new { Area = "Admin" }, new { })</li>
                                            <li> @Html.ActionLink(AssCommonResource.RoleCreate, "RoleCreate", "Role", new { Area = "Admin" }, new { })</li>
                                            <li> @Html.ActionLink(AssCommonResource.RoleAddToUser, "RoleAddToUser", "Role", new { Area = "Admin" }, new { })</li>
                                        </ul>

                                    </li>
                                }

                                <!-- Multi Language: -->
                                <li class="dropdown messages-menu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-globe fa-2x"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <!-- User image -->
                                        <li> @Html.ActionLink("Vietnam", "Set", "Language", new { lang = "vi" }, null)</li>
                                        <li> @Html.ActionLink("English", "Set", "Language", new { lang = "en" }, null)</li>
                                    </ul>
                                </li>
                                
                                <!-- Notifications: style can be found in dropdown.less -->
                                <li class="dropdown notifications-menu">


                                </li>
                                <!-- Tasks: style can be found in dropdown.less -->
                                <li class="dropdown tasks-menu">

                                </li>
                                <!-- User Account: style can be found in dropdown.less -->
                                <li class="dropdown user user-menu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <img src=@user.ImageURL1 class="user-image" alt="User Image">
                                        <span class="hidden-xs">@User.Identity.Name</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <!-- User image -->
                                        <li class="user-header">
                                            <img src=@user.ImageURL1 class="img-circle" alt="User Image">
                                            <p>
                                                @User.Identity.Name
                                                <small>@role since Nov. 2012</small>
                                            </p>
                                        </li>
                                        <!-- Menu Footer-->
                                        <li class="user-footer">
                                            <div class="pull-left">
                                                <a href="/Account/Profile" class="btn btn-default btn-flat">@AssCommonResource.Profile</a>
                                            </div>
                                            <div class="pull-right">
                                                <a href="/Account/Login" class="btn btn-default btn-flat">@AssCommonResource.SignOut</a>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <!-- Control Sidebar Toggle Button -->
                                <li>
                                    <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </header>
                <!-- Left side column. contains the logo and sidebar -->
                <aside class="main-sidebar">
                    <!-- sidebar: style can be found in sidebar.less -->
                    <section class="sidebar">
                        <!-- Sidebar user panel -->
                        <div class="user-panel">
                            <div class="pull-left image">
                                <img src=@user.ImageURL1 class="img-circle" alt="User Image">
                            </div>
                            <div class="pull-left info">
                                <p>@User.Identity.Name</p>
                                <a href="#"><i class="fa fa-circle text-success"></i> @AssCommonResource.Online</a>
                            </div>
                        </div>
                        <!-- search form -->
                        <form action="#" method="get" class="sidebar-form">
                            <div class="input-group">
                                <input type="text" name="q" class="form-control" placeholder=@AssCommonResource.Search>
                                <span class="input-group-btn">
                                    <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </form>
                        <!-- /.search form -->
                        <!-- sidebar menu: : style can be found in sidebar.less -->
                        <ul class="sidebar-menu">
                            <li class="header">@AssCommonResource.MainCategory</li>
                            <li><a href="/Home"><i class="glyphicon glyphicon-home"></i> @AssCommonResource.Home</a></li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="glyphicon glyphicon-user"></i>
                                    <span>@AssCommonResource.lbl_staff</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="/Home/Staff/Department"><i class="fa fa-briefcase"></i> @AssCommonResource.Department</a></li>
                                    <li><a href="/Home/Staff/Staffinfo"><i class="fa fa-user"></i> @AssCommonResource.Profiles</a></li>
                                    <li><a href="/Home/Staff/Salary"><i class="fa fa-money"></i> @AssCommonResource.Salary</a></li>
                                </ul>
                            </li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="glyphicon glyphicon-leaf"></i>
                                    <span>@AssCommonResource.KidManagement</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    @*<li><a href="/Home/Kindergarten/General"><i class="fa fa-circle-o"></i> @AssCommonResource.General</a></li>*@
                                    <li><a href="/Home/Kindergarten/Physicalinfo"><i class="fa fa-bar-chart-o"></i> @AssCommonResource.Physicalinf</a></li>
                                    <li><a href="/Home/Kindergarten/Studentoverview"><i class="fa fa-user"></i> @AssCommonResource.StudentOverview</a></li>
                                    
                                </ul>
                            </li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="glyphicon glyphicon-education"></i>
                                    <span>@AssCommonResource.Grade</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="/Home/GradeClass/Grade"><i class="fa fa-building"></i> @AssCommonResource.GradeOverview</a></li>
                                    <li><a href="/Home/GradeClass/Classinfo"><i class="fa fa-mortar-board"></i> @AssCommonResource.Class</a></li>
                                    <li><a href="/Home/GradeClass/Calendar"><i class="fa fa-calendar-o"></i> @AssCommonResource.Calendar</a></li>
                                </ul>
                            </li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="glyphicon glyphicon-apple"></i>
                                    <span>@AssCommonResource.FoodRepository</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                            </li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="glyphicon glyphicon-piggy-bank"></i>
                                    <span>@AssCommonResource.Revenueandexpenditures</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    @*<li><a href="/Home/Revenuesandexpenditures/General"><i class="fa fa-circle-o"></i> General</a></li>*@
                                    <li><a href="/Home/Revenuesandexpenditures/In"><i class="fa fa-circle-o"></i> In</a></li>
                                    <li><a href="/Home/Revenuesandexpenditures/Out"><i class="fa fa-circle-o"></i> Out</a></li>
                                    <li><a href="/Home/Revenuesandexpenditures/Inout"><i class="fa fa-circle-o"></i> Inout</a></li>
                                </ul>
                            </li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="glyphicon glyphicon-wrench"></i>
                                    <span>@AssCommonResource.Furnitures</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                            </li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="glyphicon glyphicon-heart"></i>
                                    <span>@AssCommonResource.Nutritious</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="/Home/Nutritious/IngredientType"><i class="fa fa-circle-o"></i> @AssCommonResource.IngredientType</a></li>
                                    <li><a href="/Home/Nutritious/Ingredients"><i class="fa fa-circle-o"></i> @AssCommonResource.IngredientsOverview</a></li>
                                </ul>
                            </li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="glyphicon glyphicon-book"></i>
                                    <span>@AssCommonResource.Teach</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="/Home/Teach/Lessonprogram"><i class="fa fa-book"></i>@AssCommonResource.LessonProgram</a></li>
                                    <li><a href="/Home/Teach/Teachschedule"><i class="fa  fa-calendar-check-o"></i>@AssCommonResource.TeachSchedule</a></li>
                                    <li><a href="/Home/Teach/Topic"><i class="fa fa-plus-square"></i>@AssCommonResource.Topic</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="pages/calendar.html">
                                    <i class="fa fa-calendar"></i> <span>@AssCommonResource.Calendar</span>
                                    <small class="label pull-right bg-red">3</small>
                                </a>
                            </li>
                            <li>
                                <a href="pages/mailbox/mailbox.html">
                                    <i class="fa fa-envelope"></i> <span>@AssCommonResource.Mailbox</span>
                                    <small class="label pull-right bg-yellow">12</small>
                                </a>
                            </li>
                        </ul>
                    </section>
                    <!-- /.sidebar -->
                </aside>
                <!-- Content Wrapper. Contains page content -->
                <div class="content-wrapper">
                    @RenderBody()
                </div>
                <!-- /.content-wrapper -->
                <footer class="main-footer">
                    <div class="pull-right hidden-xs">
                        <b>Version</b> 2.3.0
                    </div>
                    <strong>Copyright &copy; 2014-2015 <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong> All rights reserved.
                </footer>
                <!-- Control Sidebar -->
                <aside class="control-sidebar control-sidebar-dark">
                    <!-- Create the tabs -->
                    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                        <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
                        <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <!-- Home tab content -->
                        <div class="tab-pane" id="control-sidebar-home-tab">
                            <h3 class="control-sidebar-heading">@AssCommonResource.RecentActivity</h3>
                            <ul class="control-sidebar-menu">
                                @*<li>
                                    <a href="javascript::;">
                                        <i class="menu-icon fa fa-birthday-cake bg-red"></i>
                                        <div class="menu-info">
                                            <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>
                                            <p>Will be 23 on April 24th</p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript::;">
                                        <i class="menu-icon fa fa-user bg-yellow"></i>
                                        <div class="menu-info">
                                            <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>
                                            <p>New phone +1(800)555-1234</p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript::;">
                                        <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>
                                        <div class="menu-info">
                                            <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>
                                            <p>nora@example.com</p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript::;">
                                        <i class="menu-icon fa fa-file-code-o bg-green"></i>
                                        <div class="menu-info">
                                            <h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>
                                            <p>Execution time 5 seconds</p>
                                        </div>
                                    </a>
                                </li>*@
                            </ul><!-- /.control-sidebar-menu -->

                            <h3 class="control-sidebar-heading">@AssCommonResource.TasksProgress</h3>
                            <ul class="control-sidebar-menu">
                                @*<li>
                                    <a href="javascript::;">
                                        <h4 class="control-sidebar-subheading">
                                            Custom Template Design
                                            <span class="label label-danger pull-right">70%</span>
                                        </h4>
                                        <div class="progress progress-xxs">
                                            <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript::;">
                                        <h4 class="control-sidebar-subheading">
                                            Update Resume
                                            <span class="label label-success pull-right">95%</span>
                                        </h4>
                                        <div class="progress progress-xxs">
                                            <div class="progress-bar progress-bar-success" style="width: 95%"></div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript::;">
                                        <h4 class="control-sidebar-subheading">
                                            Laravel Integration
                                            <span class="label label-warning pull-right">50%</span>
                                        </h4>
                                        <div class="progress progress-xxs">
                                            <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript::;">
                                        <h4 class="control-sidebar-subheading">
                                            Back End Framework
                                            <span class="label label-primary pull-right">68%</span>
                                        </h4>
                                        <div class="progress progress-xxs">
                                            <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
                                        </div>
                                    </a>
                                </li>*@
                            </ul><!-- /.control-sidebar-menu -->

                        </div><!-- /.tab-pane -->
                        <!-- Stats tab content -->
                        <div class="tab-pane" id="control-sidebar-stats-tab">Starts Tab Content</div><!-- /.tab-pane -->
                        <!-- Settings tab content -->
                        <div class="tab-pane" id="control-sidebar-settings-tab">
                            <form method="post">
                                <h3 class="control-sidebar-heading">@AssCommonResource.GeneralSettings</h3>
                                <div class="form-group">
                                    <label class="control-sidebar-subheading">
                                        @AssCommonResource.Reportpanelusage
                                        <input type="checkbox" class="pull-right" checked>
                                    </label>
                                    <p>
                                        @AssCommonResource.GeneralSettingNote
                                    </p>
                                </div><!-- /.form-group -->

                                <div class="form-group">
                                    <label class="control-sidebar-subheading">
                                        @AssCommonResource.AllowMailRedirect
                                        <input type="checkbox" class="pull-right" checked>
                                    </label>
                                    <p>
                                        @AssCommonResource.NoteAllowMailRedirect
                                    </p>
                                </div><!-- /.form-group -->

                                <div class="form-group">
                                    <label class="control-sidebar-subheading">
                                        @AssCommonResource.Authorname
                                        <input type="checkbox" class="pull-right" checked>
                                    </label>
                                    <p>
                                        @AssCommonResource.AuthornameNote
                                    </p>
                                </div><!-- /.form-group -->

                                <h3 class="control-sidebar-heading">@AssCommonResource.ChatSettings</h3>

                                <div class="form-group">
                                    <label class="control-sidebar-subheading">
                                        @AssCommonResource.ChatSettingsonline
                                        <input type="checkbox" class="pull-right" checked>
                                    </label>
                                </div><!-- /.form-group -->

                                <div class="form-group">
                                    <label class="control-sidebar-subheading">
                                        @AssCommonResource.ChatSettingsnotifications
                                        <input type="checkbox" class="pull-right">
                                    </label>
                                </div><!-- /.form-group -->

                                <div class="form-group">
                                    <label class="control-sidebar-subheading">
                                        @AssCommonResource.ChatSettingsdelete
                                        <a href="javascript::;" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
                                    </label>
                                </div><!-- /.form-group -->
                            </form>
                        </div><!-- /.tab-pane -->
                    </div>
                </aside><!-- /.control-sidebar -->
                <!-- Add the sidebar's background. This div must be placed
                     immediately after the control sidebar -->
                <div class="control-sidebar-bg"></div>
            </div><!-- ./wrapper -->
            
        }
    }
    @Scripts.Render("~/bundles/jquerycore")
    @Scripts.Render("~/bundles/jqueryother")
    @RenderSection("Orther_scripts", required: false)

</body>
</html>
