@model KindergartentManagerment.Models.SM_SALARY
@using KindergartentManagerment.Resources
@{
    ViewBag.Title = AssCommonResource.Salary + " | " + AssCommonResource.Delete;
    Layout = "~/Views/Shared/Layout.cshtml";
}
<section class="content-header">
    <h1>
        @AssCommonResource.Salary
    </h1>

    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> @AssCommonResource.Home</a></li>
        <li><a href="#">@AssCommonResource.Kindergarten</a></li>
        <li class="active">@AssCommonResource.Department</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">@AssCommonResource.Delete</h3>
                    <h3 class="box-header">@AssCommonResource.RequestDelete</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="form-horizontal">

                        <div class="box box-info">
                            <div class="box-header with-border">
                                <h3 class="box-title">@AssCommonResource.Overview</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <div class="control-label col-md-4">
                                            @SalaryResource.Sa_StaffCode
                                        </div>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.STAFF_ID, new { htmlAttributes = new { @class = "form-control", required = "required", @disabled = "disabled" } })
                                            @Html.ValidationMessageFor(model => model.STAFF_ID, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-6">
                                        <div class="control-label col-md-4">
                                            @SalaryResource.Sa_Total
                                        </div>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.Sa_Total, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                            @Html.ValidationMessageFor(model => model.Sa_Total, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="control-label col-md-4">
                                            @SalaryResource.Sa_Bonus
                                        </div>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.Sa_Bonus, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                            @Html.ValidationMessageFor(model => model.Sa_Bonus, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-6">
                                        <div class="control-label col-md-4">
                                            @SalaryResource.Sa_Minus
                                        </div>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.Sa_Minus, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                            @Html.ValidationMessageFor(model => model.Sa_Minus, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="control-label col-md-4">
                                            @SalaryResource.Sa_Salary
                                        </div>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.Sa_Salary, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                            @Html.ValidationMessageFor(model => model.Sa_Salary, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="control-label col-md-2">
                                            @AssCommonResource.Notes
                                        </div>
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Notes, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                            @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- Action click-->
                @using (Html.BeginForm("Delete", "Salary", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()


                    <div class="box-footer clearfix">
                        <input type="submit" value="@AssCommonResource.Delete" class="btn btn-sm btn-warning btn-flat pull-right" />
                        @Html.ActionLink(AssCommonResource.BacktoList, "Index", "Salary", new { @class = "btn btn-sm btn-info btn-flat pull-left" })
                    </div>
                }

            </div>
        </div>
    </div>
</section>
