@using KindergartentManagerment.Resources

@{
    ViewBag.Title = AssCommonResource.KindergartenManagerment + " | " + AssCommonResource.Home;
    KindergartentManagerment.Models.ApplicationDbContext db = new KindergartentManagerment.Models.ApplicationDbContext();
    int countkindergartent= db.KM_STUDENTOVERVIEW.Where(c => c.Record_Status == "1").Count() ;
    int countStaff = db.SM_STAFFINFO.Where(c => c.Record_Status == "1").Count();
    int countLessonProgram = db.TM_LESSONPROGRAM.Where(c => c.Record_Status == "1").Count();
    int countTopic = db.TM_TOPIC.Where(c => c.Record_Status == "1").Count();
    int countIngredients = db.DD_ThucPham.Where(c => c.Record_Status == "1").Count();
    int countClass = db.GM_CLASSINFO.Where(c => c.Record_Status == "1").Count();
    int countDepartment = db.DM_DEPARTMENTINFO.Where(c => c.Record_Status == "1").Count();
    int countUser = db.Users.Count();
}



<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        @AssCommonResource.KindergartenManagerment
        <small>@AssCommonResource.ControlPanel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>@AssCommonResource.Home</a></li>
        <li>@AssCommonResource.ControlPanel</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>@countkindergartent</h3>
                    <p>@AssCommonResource.Baby</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                <a href="/Home/Kindergarten/StudentOverview/Index" class="small-box-footer">@AssCommonResource.Moreinfo <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div><!-- ./col -->
        
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-orange">
                <div class="inner">
                    <h3>@countStaff</h3>
                    <p>@AssCommonResource.lbl_staff</p>
                </div>
                <div class="icon">
                    <i class="ion-person-add"></i>
                </div>
                <a href="/Home/Staff/StaffInfo/Index" class="small-box-footer">@AssCommonResource.Moreinfo <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div><!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-blue">
                <div class="inner">
                    <h3>@countLessonProgram</h3>
                    <p>@AssCommonResource.LessonProgram</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                <a href="/Home/Teach/LessonProgram/Index" class="small-box-footer">@AssCommonResource.Moreinfo <i class="fa fa-chevron-circle-right"></i></a>
            </div>
        </div><!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-black">
                <div class="inner">
                    <h3>@countTopic</h3>
                    <p>@AssCommonResource.Topic</p>
                </div>
                <div class="icon">
                    <i class="fa fa-youtube-play"></i>
                </div>
                <a href="/Home/Teach/Topic/Index" class="small-box-footer">@AssCommonResource.Moreinfo <i class="fa fa-chevron-circle-right"></i></a>
            </div>
        </div><!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-maroon">
                <div class="inner">
                    <h3>@countIngredients</h3>
                    <p>@AssCommonResource.IngredientsOverview</p>
                </div>
                <div class="icon">
                    <i class="fa fa-heart"></i>
                </div>
                <a href="/Home/Nutritious/Ingredients/Index" class="small-box-footer">@AssCommonResource.Moreinfo <i class="fa fa-chevron-circle-right"></i></a>
            </div>
        </div><!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-danger">
                <div class="inner">
                    <h3>@countClass</h3>
                    <p>@AssCommonResource.ClassOverview</p>
                </div>
                <div class="icon">
                    <i class="fa fa-windows"></i>
                </div>
                <a href="/Home/GradeClass/ClassOverview/Index" class="small-box-footer">@AssCommonResource.Moreinfo <i class="fa fa-chevron-circle-right"></i></a>
            </div>
        </div><!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-purple">
                <div class="inner">
                    <h3>@countDepartment</h3>
                    <p>@AssCommonResource.Department</p>
                </div>
                <div class="icon">
                    <i class="fa  fa-hand-o-down"></i>
                </div>
                <a href="/Home/Staff/Department/Index" class="small-box-footer">@AssCommonResource.Moreinfo <i class="fa fa-chevron-circle-right"></i></a>
            </div>
        </div><!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-success">
                <div class="inner">
                    <h3>@countUser</h3>
                    <p>Người dùng</p>
                </div>
                <div class="icon">
                    <i class="fa fa-arrow-circle-up"></i>
                </div>
                <a href="" class="small-box-footer">@AssCommonResource.Moreinfo <i class="fa fa-chevron-circle-right"></i></a>
            </div>
        </div><!-- ./col -->
    </div>
    <div class="row">
        <div class="col-md-6">
            <!-- USERS LIST -->
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Nhà quản trị mới nhất</h3>
                    <div class="box-tools pull-right">
                        <span class="label label-danger">4 nhà quản trị mới nhất</span>
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body no-padding">
                    <ul class="users-list clearfix">
                        @foreach (var user in db.Users.Take(4))
                        {
                            <li>
                                <img src=@user.ImageURL1 alt="User Image">
                                <a class="users-list-name" href="#">@user.UserName</a>
                            </li>
                        }
                    </ul><!-- /.users-list -->
                </div><!-- /.box-body -->
                <div class="box-footer text-center">
                    <a href="javascript::" class="uppercase">Xem toàn bộ</a>
                </div><!-- /.box-footer -->
            </div><!--/.box -->
        </div><!-- /.col -->
        <div class="col-md-6">
            <!-- USERS LIST -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Nhân viên mới nhất</h3>
                    <div class="box-tools pull-right">
                        <span class="label label-danger">8 Nhân viên mới nhất</span>
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body no-padding">
                    <ul class="users-list clearfix">
                        @foreach (var user in db.SM_STAFFINFO.Where(m => m.Record_Status == "1").OrderBy(m => m.Create_DT).Take(8))
                        {
                            <li>
                                <img src=@user.Picture alt="User Image">
                                <a class="users-list-name" href="#">@user.StaffName</a>
                            </li>
                        }
                    </ul><!-- /.users-list -->
                </div><!-- /.box-body -->
                <div class="box-footer text-center">
                    <a href="javascript::" class="uppercase">View All Users</a>
                </div><!-- /.box-footer -->
            </div><!--/.box -->
        </div><!-- /.col -->
        
    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- USERS LIST -->
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">8 trẻ mới nhất</h3>
                    <div class="box-tools pull-right">
                        <span class="label label-danger">8 trẻ mới nhất</span>
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body no-padding">
                    <ul class="users-list clearfix">
                        @foreach (var user in db.KM_STUDENTOVERVIEW.Where(m => m.Record_Status == "1").OrderBy(m => m.Create_DT).Take(8))
                        {
                            <li>
                                <img src=@user.Picture alt="User Image">
                                <a class="users-list-name" href="#">@user.StudentName</a>
                            </li>
                        }
                    </ul><!-- /.users-list -->
                </div><!-- /.box-body -->
                <div class="box-footer text-center">
                    <a href="javascript::" class="uppercase">View All Users</a>
                </div><!-- /.box-footer -->
            </div><!--/.box -->
        </div><!-- /.col -->
        
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body no-padding">
                    <!-- THE CALENDAR -->
                    <div id="calendar"></div>
                </div><!-- /.box-body -->
            </div><!-- /. box -->
        </div>
    </div>
</section>
@section Orther_styles{
    <!-- fullCalendar 2.2.5-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.8.0/fullcalendar.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.8.0/fullcalendar.print.css" media="print">
}
@section Orther_scripts{
    <!-- Slimscroll -->
    <!-- fullCalendar 2.2.5 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.8.0/fullcalendar.min.js"></script>
    <script type="text/javascript">
        $(".datetimepicker").datetimepicker(
        {
            defaultDate: new Date(),
            format: 'YYYY-MM-DD HH:mm:ss.mmm'
        });
        $(document).ready(function () {
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
            },
            buttonText: {
                today: 'today',
                    month: 'month',
                    week: 'week',
                    day: 'day'
                },
                editble: true,
                droppable: true, // this allows things to be dropped onto the calendar !!!
                allDaySlot: false,
                selectable: true,
                slotMinutes: 15,
                events: "@Url.Action("GetCalendarEvents")"
            });

            /* ADDING EVENTS */
                var currColor = "#3c8dbc"; //Red by default
                //Color chooser button
                var colorChooser = $("#color-chooser-btn");
                $("#color-chooser > li > a").click(function (e) {
                    e.preventDefault();
                    //Save color
                    currColor = $(this).css("color");
                    //Add color effect to button
                $('#add-new-event').css({ "background-color": currColor, "border-color": currColor });
            });

            $("#add-new-event").click(function (e) {
            e.preventDefault();
            //Get value and make sure it is not null
            var val = $("#new-event").val();
            if (val.length == 0) {
            return;
        }

        //Create events
        var event = $("<div />");
        event.css({ "background-color": currColor, "border-color": currColor, "color": "#fff" }).addClass("external-event");
        event.html(val);
        $('#external-events').prepend(event);

                    //Add draggable funtionality
        ini_events(event);

        //Remove event from text input
        $("#new-event").val("");
            });
        });
    </script>
}