@model KindergartentManagerment.Models.DM_DEPARTMENTINFO
@using KindergartentManagerment.Resources
@{
    ViewBag.Title = AssCommonResource.Department + " | " + AssCommonResource.Delete;
    Layout = "~/Views/Shared/Layout.cshtml";
}
<section class="content-header">
    <h1>
        @AssCommonResource.Department
    </h1>

    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> @AssCommonResource.Home</a></li>
        <li><a href="#">@AssCommonResource.Kindergarten</a></li>
        <li class="active">@AssCommonResource.Department</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">@AssCommonResource.Delete</h3>
                    <h3 class="box-header">@AssCommonResource.RequestDelete</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="form-horizontal">

                        <div class="box box-info">
                            <div class="box-header with-border">
                                <h3 class="box-title">@AssCommonResource.Overview</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">

                                <!-- Group 1-->
                                <div class="form-group">
                                    <div class="control-label col-md-2">
                                        @AssCommonResource.Department
                                    </div>
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.DepartmentName,
                                                new { htmlAttributes = new { @class = "form-control", required = "required", @disabled = "disabled", @style = "width:100%;" } })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="control-label col-md-2">
                                        @AssCommonResource.Notes
                                    </div>
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.Notes,
                                                new { htmlAttributes = new { @class = "form-control", required = "required", @placeholder = StudentOverviewResource.RequireName, @disabled = "disabled", @style = "width:100%;" } })
                                    </div>
                                </div>
                                <!-- end group-->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Action click-->
                @using (Html.BeginForm("Delete", "Department", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()


                    <div class="box-footer clearfix">
                        <input type="submit" value="@AssCommonResource.Delete" class="btn btn-sm btn-warning btn-flat pull-right" />
                        @Html.ActionLink(AssCommonResource.BacktoList, "Index", "Department", new { @class = "btn btn-sm btn-info btn-flat pull-left" })
                    </div>
                }

            </div>
        </div>
    </div>
</section>

